<div ng-controller="PublishCtrl">
  <form class="form">
    <div flow-init class="form-group">
      <div class="thumbnail" ng-show="$flow.files.length">
        <img flow-img="$flow.files[0]">
      </div>
      <button class="btn btn-material-purple-600" flow-btn>上传图片
        <input class="hide" type="file" flow-btn/>
      </button>
    </div>

    <div class="form-group">
      <textarea class="form-control" rows="7" placeholder="输入帖子内容" ng-model="content"></textarea>
    </div>
    <div class="togglebutton">
      <label>实名
        <input type="checkbox" checked ng-model="realName">
        <span class="toggle"/>
      </label>
    </div>

    <div class="form-group container-fluid">
        <button type="submit" class="btn btn-material-purple-600 pull-right" ng-click="publish()">发表</button>
    </div>
  </form>

</div>
